*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #090909;
}

img {
    vertical-align: top;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

.wrapper {
    min-width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1160px;
    padding: 0 15px;
    box-sizing: content-box;
    margin: 0 auto;
}

.line {
    width: 140px;
    height: 4px;
    background: #FF9C08;
    border-radius: 99999px;
}

.header {
    min-height: 120px;
    border-bottom: 1px solid #F0ECE8;
}

.nav {
    min-height: 120px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.nav__logo img {
    margin-right: 20px;
}

.nav__logo span {
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
}

.nav__menu {
    display: flex;
    flex-wrap: wrap;
}

.nav__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    margin: 0 13px;
}

.nav__link:hover {
    text-decoration: underline;
}


.promo {
    position: relative;
    padding: 207px 0 213px 0;
}

.promo__body {
    max-width: 630px;
}

.promo__title {
    margin-top: 25px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
}

.promo__subtitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #6E6E6E;
}

.promo__main-img {
    width: 677px;
    height: 750px;
    background: url('../images/main-cat.PNG') center center/cover no-repeat;
    position: absolute;
    top: 30px;
    right: 50px;
}


.about {
    padding: 74px 0;
    background: #FEF9F2;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__number {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
}

.about__number span {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #FF9C08;
    margin-left: 7px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #6E6E6E;
}

.life {
    padding: 45px 0;
}

.life__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    text-align: center;
}


.timer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.timer__block {
    width: 120px;
    height: 130px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
    font-size: 16px;
    font-weight: 300;
    text-align: center
}

.timer__block span {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 56px;
    font-weight: 700
}


@media (max-width: 592px) {
    .nav__menu {
        justify-content: center;
    }

    .nav__link {
        margin: 7px 13px;
    }
}


@media (max-width: 449px) {

    .nav {
        flex-direction: column;
    }

    .nav__menu {
        margin-top: 15px;
    }

    .promo__title {
        font-size: 40px;
    }

    .promo__subtitle {
        font-size: 17px;
    }

}

@media (max-width: 1497px) {

    .promo {
        position: relative;
        padding: 120px 0 120px 0;
    }

    .promo__main-img {
        width: 500px;
        height: 575px;
        right: 10px;
        top: 35px;
    }

}

@media (max-width: 1135px) {

    .promo__body {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .line {
        margin: 0 auto;
    }

    .promo__main-img {
        position: static;
        margin: 0 auto;
    }
}

@media (max-width: 650px) {

    .promo {
        padding: 60px 0 30px 0;
    }

    .promo__title {
        font-size: 45px;
        line-height: 60px;
    }

    .promo__subtitle {
        font-size: 20px;
    }

    .promo__main-img {
        width: 300px;
        height: 344px;
    }
}

@media (max-width: 950px) {

    .about {
        padding: 41px 0;
    }

        .about__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            row-gap: 15px;
        }
    }

@media (max-width: 499px) {
    .about__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
}

@media (max-width: 856px) {

    .timer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        row-gap: 40px;
    }

}

@media (max-width: 470px) {
    .timer {
        grid-template-columns: repeat(2, 1fr);
    }

    .timer__block {
        width: 100px;
        height: 120px;
    }

    .timer__block {
        font-size: 14px;
    }
    .timer__block span{
        font-size: 36px;
    }
}
